<div id="login"><a href="https://www.facebook.com/dialog/oauth?client_id=523945371055601&redirect_uri=http%3A%2F%2Fjk1804.com%2Fhome%2Findex">페이스북 로그인</a></div>
<a href="http://jk1804.com/home/index">HOME</a>
<%=@messages.inspect if !@messages.nil?%>
<hr>
<%=@comments.inspect if !@messages.nil?%>
<hr>
kk count : <%=@kk_cnt%>
